<div class="bg-light pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img class="img-fluid" src="../../../assets/user.png" />
      </div>
      <div class="col-9 pt-3">
        <h1 class="display-6">{{ user!.firstname }} {{ user!.lastname }}</h1>
        <p>Username: {{ user!.username }}</p>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <h1 class="display-6">Recipes</h1>
      <div *ngIf="userRecipes.length != 0">
        <div class="row">
          <div class="col-2" *ngFor="let r of userRecipes">
            <img class="rounded-image" [src]="'data:image/jpg;base64,' + r!!.imageList[0].byteArray"
              alt="Recipe image" />
          </div>
          <div class="col-2">
            <a routerLink="/userRecipes/{{user!.username}}" class="link-class">
              <div class="rounded-image bg-dark text-white d-flex justify-content-center align-items-center link-class">
                <h5>View all user recipes</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="userRecipes.length == 0">
        <div class="row">
          <div class="col-2">
            <div class="rounded-image bg-dark text-white d-flex justify-content-center align-items-center">
              <h5 class="text-center">No recipes available.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>