<div *ngIf="isLoggedIn && isAdmin" class="container">
  <h1 class="text-center mb-4 mt-3">Orders for Admin</h1>

  <table class="table mb-4 table-striped table-responsive">
    <thead class="table-dark">
      <tr>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Number of Persons</th>
        <th>Order Status</th>
        <th>Recipe</th>
        <th></th>
      </tr>
    </thead>  

    <tbody>
      <tr *ngFor="let o of orders">
        <td>{{ o.phoneNumber }}</td>
        <td>{{ o.address }}</td>
        <td>{{ o.numPersons }}</td>
        <td>{{ o.orderStatus }}</td>
        <td>{{ o.recipe.name }}</td>
        <td>
          <button *ngIf="o.orderStatus === 'Created'" class="btn btn-success" (click)="changeStatus(o)">Approve</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="container mt-5" *ngIf="!isLoggedIn || !isAdmin">
  <h1 class="text-center">You are not an admin</h1>
</div>
