<div class="bg-dark text-white">
  <div class="container pb-1">
    <div class="d-flex align-items-center flex-column mb-5 pt-3">
      <img src="../../../assets/ingredients.jpg" class="mainPageImage" />
      <a routerLink="/addRecipe"
        class="btn btn-block btn-success position-absolute bottom-20 start-50 translate-middle-x"
      >
        Add Recipe
      </a>
    </div>
    </div>
    </div>
    <div class="bg-light pt-4 pb-4">
    <div class="container">
    <h1 class="display-6">Most Viewed Recipes</h1>
    <div class="card-group bg-light">
      <div
        *ngFor="let recipe of mostViewed"
        class="card m-3 card-border-radius bg-light"
      >
        <img
          class="card-img-top"
          routerLink="/recipe/{{ recipe.id }}"
          [src]="'data:image/jpg;base64,' + recipe.imageList[0].byteArray"
          alt="Recipe image"
        />
        <div class="card-body">
          <a
            class="card-title custom-card-title link-class text-dark"
            routerLink="/recipe/{{ recipe.id }}"
            >{{ recipe.name }}</a
          >
          <div class="card-text">
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 1)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 1)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 2)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 2)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 3)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 3)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 4)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 4)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 5)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 5)"
            ></span>
          </div>
          <div class="card-text d-flex justify-content-between">
            <p>{{ recipe.viewCount }} views</p>
            <p>{{ recipe.difficultyLevel }}</p>
          </div>
          <div class="card-text d-flex justify-content-between text-muted">
            <p>{{ recipe.createdOn }}</p>
            <p>{{ recipe.customerName }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="bg-dark text-white pt-4 pb-4">
    <div class="container">
    <h3 class="display-6">Top Rated Recipes</h3>
    <div class="card-group ">
      <div *ngFor="let recipe of topRated" class="card m-3 card-border-radius bg-dark">
        <img
          class="card-img-top"
          routerLink="/recipe/{{ recipe.id }}"
          [src]="'data:image/jpg;base64,' + recipe.imageList[0].byteArray"
          alt="Recipe image"
        />
        <div class="card-body">
          <a
            class="card-title custom-card-title link-class text-white"
            routerLink="/recipe/{{ recipe.id }}"
            >{{ recipe.name }}</a
          >
          <div class="card-text">
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 1)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 1)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 2)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 2)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 3)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 3)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 4)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 4)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 5)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 5)"
            ></span>
          </div>
          <div class="card-text d-flex justify-content-between">
            <p>{{ recipe.viewCount }} views</p>
            <p>{{ recipe.difficultyLevel }}</p>
          </div>
          <div class="card-text d-flex justify-content-between text-muted">
            <p>{{ recipe.createdOn }}</p>
            <p>{{ recipe.customerName }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="bg-light pt-4 pb-4">
    <div class="container">
    <h3 class="display-6">Newest Recipes</h3>
    <div class="card-group bg-light">
      <div *ngFor="let recipe of newest" class="card m-3 card-border-radius bg-light">
        <img
          class="card-img-top"
          routerLink="/recipe/{{ recipe.id }}"
          [src]="'data:image/jpg;base64,' + recipe.imageList[0].byteArray"
          alt="Recipe image"
        />
        <div class="card-body">
          <a
            class="card-title custom-card-title link-class text-dark"
            routerLink="/recipe/{{ recipe.id }}"
            >{{ recipe.name }}</a
          >
          <div class="card-text">
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 1)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 1)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 2)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 2)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 3)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 3)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 4)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 4)"
            ></span>
            <span
              class="star"
              [class.filled]="isStarFilled(recipe.avRating, 5)"
              [class.half-filled]="isStarHalfFilled(recipe.avRating, 5)"
            ></span>
          </div>
          <div class="card-text d-flex justify-content-between">
            <p>{{ recipe.viewCount }} views</p>
            <p>{{ recipe.difficultyLevel }}</p>
          </div>
          <div class="card-text d-flex justify-content-between text-muted">
            <p>{{ recipe.createdOn }}</p>
            <p>{{ recipe.customerName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
