<div class="bg-light">
    <div class="d-flex align-items-center flex-column mb-5">
        <img src="https://i.pinimg.com/originals/be/c4/de/bec4de77e9c454368367727167fcb65f.jpg" class="mainPageImage">
        <button class="btn btn-block btn-success position-absolute bottom-20 start-50 translate-middle-x">Додај рецепт</button>
    </div>
    <div class="card-group mb-5">
        <div *ngFor="let recipe of mostViewed" class="card">
            <img class="card-img-top" [src]="'data:image/jpg;base64,'+ recipe.imageList[0].byteArray" alt="Recipe image">
            <div class="card-body">
            <h5 class="card-title">{{recipe.name}}</h5>
            <p class="card-text">{{recipe.avRating}}</p>
            <p class="card-text"><small class="text-muted">{{recipe.difficultyLevel}}</small></p>
            </div>
        </div>
    </div>
    <div class="card-group mb-5">
        <div *ngFor="let recipe of topRated" class="card">
            <img class="card-img-top" [src]="'data:image/jpg;base64,'+ recipe.imageList[0].byteArray" alt="Recipe image">
            <div class="card-body">
            <h5 class="card-title">{{recipe.name}}</h5>
            <p class="card-text">{{recipe.avRating}}</p>
            <p class="card-text"><small class="text-muted">{{recipe.difficultyLevel}}</small></p>
            </div>
        </div>
    </div>
    <div class="card-group mb-5">
        <div *ngFor="let recipe of newest" class="card">
            <img class="card-img-top" [src]="'data:image/jpg;base64,'+ recipe.imageList[0].byteArray" alt="Recipe image">
            <div class="card-body">
            <h5 class="card-title">{{recipe.name}}</h5>
            <p class="card-text">{{recipe.avRating}}</p>
            <p class="card-text"><small class="text-muted">{{recipe.difficultyLevel}}</small></p>
            </div>
        </div>
    </div>
</div>