.card-group .card{
    margin-right: 10px;
}
.card-group {
    margin: 0 auto;
}
.mainPageImage{
    width: 90%;
}
.addRecipeButton{
    padding-top: -20px;
}
.bottom-20{
    bottom: 20%;
    padding: 15px;
}