<div (click)="hideSearchResults()" id="top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">CookItUp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Recipes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let c of categories">
                <a class="dropdown-item" routerLink="/category/{{ c.name.toLocaleLowerCase() }}">{{ c.name }}</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" routerLink="/recipes">View all recipes</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="isUser">
            <a class="nav-link" routerLink="/myRecipes">My recipes</a>
          </li>
          <li class="nav-item" *ngIf="isUser">
            <a class="nav-link" routerLink="/myOrders">My orders</a>
          </li>
          <li class="nav-item" *ngIf="isUser">
            <a class="nav-link" routerLink="/myReviews">My reviews</a>
          </li>
          <li class="nav-item" *ngIf="isUser">
            <a class="nav-link" routerLink="/myFavoriteRecipes">My favorites</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="/approveAdmin">Approve an Admin</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="/addCategory">Add a category</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="/addIngredient">Add an ingredient</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="/adminOrders">Orders</a>
          </li>
        </ul>
        <form class="d-flex formControl">
          <div style="margin-right: 10px!important;">
            <input type="text" class="form-control pr-3" placeholder="Search for recipes" aria-label="Search"
              [(ngModel)]="inputText" name="inputText" #searchBox id="search-box" (input)="search(searchBox.value)" />
            <div id="searchResult" class="bg-light">
              <div *ngIf="searchResultsVisible" (click)="hideSearchResults()" class="bg-light">
                <div *ngFor="let r of recipes" class="row custom-search-title mt-2 mb-2">
                  <div class="col-md-4">
                  <a routerLink="/recipe/{{r.id}}" class="recipeText">
                    <img class="card-img-top" [src]="'data:image/jpg;base64,'+ r.imageList[0].byteArray"
                      alt="Recipe image">
                  </a>
                  </div>
                  <div class="col-md-4">
                    <a routerLink="/recipe/{{r.id}}" class="recipeText">
                    <span class="recipeName">
                      {{r.name}}
                    </span>
                  </a>
                  </div>
                  <div class="col-md-3 ms-1">
                    <div>
                    <span class="rating">{{ r.avRating }}</span>
                    <i class="bi bi-star-fill text-warning"></i>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-light" type="submit" (click)="handleButtonClick()">Search</button>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/login">Log In</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout()" routerLink="/">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>