#searchResult{
    position: absolute;
    z-index: 1;
}
#searchResult > div > div{
    max-width: 300px;
    min-width: 300px;
    max-height: 75px;
    overflow: hidden;
}
#searchResult img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.recipeText
{
    text-decoration:none;
    margin-left: 5px;
    color: black;
}
.rating,.bi
{
    float: right;
}
.recipeName
{
    display: inline-block;
}
.gray
{
    background-color: #F2F3F5;
    border-radius: 5%;
    padding-top: 10px;
}