#searchResult{
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 5%;

}
#searchResult > div > div{
    max-width: 250px;
    min-width: 250px;
    max-height: 130px;
    overflow: hidden;
}
#searchResult img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.recipeText
{
    text-decoration:none;
    margin-left: 5px;
    color: black;
}
.rating,.bi
{
    float: right;
}
.recipeName
{
    display: inline-block;
    width: 20px;
    margin: 5px;
}
.gray
{
    background-color: #F2F3F5;
    border-radius: 5%;
    padding-top: 10px;
}