<div class="bg-light">
  <div class="container">
    <div class="row">
      <h2 style="color: #b54f41">
        <b>{{recipe?.name}}</b>
      </h2>
      <div>
        <div class="d-flex whiteBackground">
          <div class="fitAll">
            <img class="card-img-top" [src]="'data:image/jpg;base64,'+ recipe!!.imageList[0].byteArray"
                        alt="Recipe image">
          </div>
          <div class="width50">
            <div>
              <span class="textMaroon">Просечна оценка: </span>
              <span>{{recipe?.avRating}}</span>
            </div>
            <div>
              <span class="textMaroon">Број на прегледи: </span>
              <span>{{recipe?.viewCount}}</span>
            </div>
            <div>
              <span class="textMaroon">Комплексност: </span>
              <span>{{recipe?.difficultyLevel}}</span>
            </div>
            <div>
              <span class="textMaroon">Препорачано за: </span>
              <span>{{recipe?.numPersons}} луѓе</span>
            </div>
            <div>
              <span class="textMaroon">Време: </span>
              <span
                >{{recipe?.prepTime}} минути</span
              >
            </div>
            <div>
              <span class="textMaroon">Автор: </span>
              <span>{{recipe?.customer?.username}}</span>
            </div>
            <div style="margin-bottom: 5px">
              <span class="textMaroon">Состојки: </span>
              <p>{{recipe!!.ingredientList[0].name}}</p>
            </div>
          </div>
        </div>
      </div>
      <h3>Начин на подготовка:</h3>
      <p style="max-width: 100%">{{recipe?.description}}</p>
    </div>
  </div>
</div>
