<div class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="wrapper bg-dark">
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
                <h3 class="mb-4">Contact information</h3>
                <p class="mb-4">
                  We're open for any suggestion or just to have a chat
                </p>
                <div class="dbox w-100 d-flex align-items-start">
                  <div
                    class="icon d-flex align-items-center justify-content-center"
                  >
                    <span class="fa fa-map-marker"></span>
                  </div>
                  <div class="text pl-3">
                    <p>
                      <span>Address: St.Partizanska, 1000 Skopje</span> 
                    </p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div
                    class="icon d-flex align-items-center justify-content-center"
                  >
                    <span class="fa fa-phone"></span>
                  </div>
                  <div class="text pl-3">
                    <p>
                      <span>Phone: </span>
                      <a href="tel://+38975000123" class="link-class text-white">+389 75 000 123</a>
                    </p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div
                    class="icon d-flex align-items-center justify-content-center"
                  >
                    <span class="fa fa-paper-plane"></span>
                  </div>
                  <div class="text pl-3">
                    <p>
                      <span>Email: </span>
                      <a href="mailto:info@cookitup.com" class="link-class text-white">info@cookitup.com</a>
                    </p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div
                    class="icon d-flex align-items-center justify-content-center"
                  >
                    <span class="fa fa-globe"></span>
                  </div>
                  <div class="text pl-3">
                    <p>
                      <span>Website: </span>
                      <a
                        href="https://www.example.com"
                        class="link-class text-white"
                        >www.cookitup.com</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                  <h3 class="mb-4">Write us</h3>
                  <form
                    method="POST"
                    id="contactForm"
                    name="contactForm"
                    class="contactForm"
                    novalidate="novalidate"
                  >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control mb-3"
                            name="name"
                            id="name"
                            placeholder="Name"
                          />
                          <div
                            data-lastpass-icon-root="true"
                            style="
                              position: relative !important;
                              height: 0px !important;
                              width: 0px !important;
                              float: left !important;
                            "
                          ></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input
                            type="email"
                            class="form-control mb-3"
                            name="email"
                            id="email"
                            placeholder="Email"
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control mb-3"
                            name="subject"
                            id="subject"
                            placeholder="Subject"
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea
                            name="message"
                            class="form-control mb-3"
                            id="message"
                            cols="30"
                            rows="6"
                            placeholder="Message"
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input
                            type="submit"
                            value="Send Message"
                            class="btn btn-primary"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
