<div class="bg-light">
  <div class="container pt-3 pb-5">
    <h1 class="display-3 pb-3">About us</h1>
    <div class="row mb-5">
      <div class="col-md-8 align-self-center">
        <p>
          At our website, users can discover an extensive collection of recipes
          spanning diverse cuisines and cooking styles. Whether they are in search
          of quick and easy weeknight meals, impressive dishes for special
          occasions, or healthy options for a balanced diet, our platform caters to
          all tastes. Each recipe is accompanied by detailed step-by-step
          instructions, including cooking times and techniques, making it accessible
          and enjoyable for cooks of all levels of experience, even for those who
          are new to the kitchen.
        </p>
      </div>
      <div class="col-md-4 justify-content-center d-flex">
        <img class="rounded-circle" src="../../../assets/logo2.png" alt="Logo" width="250" height="250" />

      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 text-center">
          <h3>Mission</h3>
          Our mission is to simplify the cooking process for busy home cooks by providing a comprehensive platform that offers a diverse selection of recipes and integrated grocery shopping features. We strive to empower users of all cooking levels to plan, shop, and cook delicious meals at home, while also creating a community of home cooks.
        </div>
      <div class="col-md-6 text-center">    
          <h3>Vision</h3>
          Our vision is to be the go-to resource for convenient and delicious home cooking, inspiring and empowering home cooks to create memorable meals for themselves and their loved ones. We aim to continually improve and innovate our platform, providing users with the tools and resources they need to make cooking at home an enjoyable and stress-free experience.
        </div>
      
    </div>
    <div class="row mb-3">
      <h1 class="display-6 text-center">What we offer</h1>
      <div class="col-md-4 pt-3 pb-3" *ngFor="let image of images">
        <div class="text-center">
          <img class="rounded-circle mb-3" [src]="image.src" [alt]="image.alt" width="150" height="150" />
          <h5>{{image.text}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- kratok paragraf -->
<!-- 4 kartichki -->
<!-- customers number -->
<!-- categories number -->
<!-- recipes number -->
<!-- orders number -->
<!-- kratok paragraf -->