/* You can add global styles to this file, and also import other style files */
.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.card-img-top {
  height: 200px; /* Set the desired height for the images */
  object-fit: cover; /* Use object-fit: cover to maintain aspect ratio and fill the fixed height */
}
.custom-card-title {
  height: 47px !important; /* Set the desired height for the card title */
  display: inline-block;
  overflow: hidden !important; /* Use overflow: hidden to hide any overflowing text */
}
.card-border-radius {
  border-radius: 5%;
}
.link-class {
  text-decoration: none;
}
.link-class:hover {
  text-decoration: underline;
}
.star {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("./assets/empty.png");
  background-size: cover;
}
.star-smaller{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("./assets/empty.png");
  background-size: cover;
}
.star.filled {
  background-image: url("./assets/full.png");
  background-size: cover;
}
.star-smaller.filled {
  background-image: url("./assets/full.png");
  background-size: cover;
}

.star.half-filled {
  background-image: url("./assets/half.png");
  background-size: cover;
}
.faq-a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.img-recipe-details {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}
.rounded-image {
  border-radius: 50%;
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
}
.card {
  border: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.recipeName{
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
.recipeName:hover
{
  font-weight: bold;
  color: black;
}
.additionalImg {
  height: 250px; /* set the fixed height here */
  object-fit: cover;
  margin: 5px;
}
.roundedOneRem{
  border-radius: 2rem!important;
}
.custom-search-title {
  height: 80px !important; /* Set the desired height for the card title */
  display: inline-block;
  overflow: hidden !important; /* Use overflow: hidden to hide any overflowing text */
}
