<div class="bg-dark">
<div class="container pb-3">
  <section>
  <footer class="text-center text-white">
    <div class="container p-5 pb-1">
      <div class="row">
        <div class="col-md-6">
          <!-- If not logged in -->
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <a routerLink="/register" class="btn btn-outline-light btn-rounded">
              Sign up!
            </a>
          </p>
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Already have an account?</span>
            <a routerLink="/login" class="btn btn-outline-light btn-rounded">
              Sign in!
            </a>
          </p>
          <!--  -->
          <!-- If logged in -->
          <!-- <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">My profile</span>
            <a routerLink="/info" class="btn btn-outline-light btn-rounded">
              username
            </a>
          </p>
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Log out of your account</span>
            <a routerInfo="/logout" class="btn btn-outline-light btn-rounded">
              Log out
            </a>
          </p> -->
          <!--  -->
        </div>
        <div class="text-white col-md-6">
          <div class="d-flex justify-content-center align-items-center">
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a routerLink="/aboutUs" style="color: white; text-decoration:none">About us</a>
              </li>
              <li class="mb-1">
                <a routerLink="/contact" style="color: white; text-decoration:none">Contact</a>
              </li>
              <li class="mb-1">
                <a routerLink="/faq" style="color: white; text-decoration:none">FAQ</a>
              </li>
              <li>
                <a href="#top" style="color: white; text-decoration:none">Back to top</a>
                <!-- needs fixes -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center p-3">
      © 2023 Copyright: CookItUp
    </div>
  </footer>
</section>
  
</div>
</div>